	body {
		font-size: 18px;
		margin: 0;
		padding: 0;
		background-color: hsl(0, 0%, 95%);
	}
	* 	{
		margin: 0;
		padding: 0;
	}
	/* Navigation Bar */
	.nav {
		overflow: hidden;
		background-color: hsl(0, 0%, 50%);
		position: sticky;
		top: 0;
		z-index: 500;
	}
	/* Menu in Navigation Bar */
	.nav a {
		float: left;
		display: block;
		color: black;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
	}
	/* Search Box */
	.nav input[type=text] {
		float: right;
		padding: 6px;
		border: none;
		margin-top: 8px;
		margin-right: 16px;
		font-size: 17px;
	}
	/*sexy container*/
	.container{
		position: absolute;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		width: 1200px;
	}
	.f1{
		top:350px;
		width: 1200px;
	}
	/* Timeline */
	.firstimage {
		width: 100%;
		height: 100vh;
		margin: 0;
		display: block;
		background-image: url("img/firstimage.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		filter: grayscale(100%);
	}
	/*Text header*/
	.headtext{
		position: relative;
		color: white;
		background-color:hsla(0, 0%, 50%,70%);
	}

	.h-1{
		font-size: 70px;
		width:1200px;
	}
	.h-2{
		margin-top: 10px;
		font-size: 45px;
		width:900px;
	}
	.topic{
		position: relative;
		height:700px;
		width:100%;
	}
	.topic:nth-child(2n-1){
		background-color:hsl(0, 0%, 80%);
	}
	.box{
		position: absolute;
		top:100px;
		width: 1200px;
		height: 500px;
		background-color: white;
	}
	/* topic1 */
	.c1-box{
		position: absolute;
		width: 400px;
		height: 500px;
		top:100px;
	}
	.c1-image{
		background-image:url("img/UDHR.png");
		background-size: cover; 
	}
	.c1-text{
		left:420px;
		width: 780px;

	}
	.c1-passage{
		margin-top: 10px;
	}
	/*topic2*/
	.c2-subbox{
		position: absolute;
		width: 150px;
		height: 150px;
		/background-color: grey;
	}
	.c2-subbox:nth-child(1){
		left:100px;
		top:50px;
	}
	.c2-subbox:nth-child(2){
		width:840px;
		left:260px;
		top:50px;
	}
	.c2-subbox:nth-child(3){
		height:230px;
		width:1000px;
		left:100px;
		top:210px;
	}
	/*topic3*/
	.t3{
		height:900px;
	}
	.c3-box{
		height:700px;
	}
	.c3-subbox{
		position: absolute;
		/background-color: grey;
	}
	.c3-subbox:nth-child(1){
		height:80px;
		width:100%;
	}
	.c3-subbox:nth-child(2){
		top:90px;
		height:160px;
		width:100%;
	}
	.c3-subbox:nth-child(3){
		top:260px;
		height:240px;
		width:385px;
	}
	.c3-subbox:nth-child(4){
		top:260px;
		left:400px;
		height:240px;
		width:385px;
	}
	.c3-subbox:nth-child(5){
		top:260px;
		left:800px;
		height:240px;
		width:385px;
	}
	.c3-subbox:nth-child(6){
		top:512px;
		left:375px;
		height:180px;
		width:450px;
	}
	.c-img{
		border:5px solid black;
		width:100%;
		height:100%;
	}
	.timeline{
		position: relative;
		height:150px;
		width:100%;
		background-color: hsl(35, 100%, 50%);
		z-index: 1;
	}
	.ct-box{
		position: absolute;
		top:10px;
		width: 1200px;
		height: 130px;
		background-color: hsl(25, 100%, 50%);
		z-index: 3;
	}
	.minibox{
		position: absolute;
		top:50px;
		left:40px;
		height:25px;
		width:25px;
		background-color: white;
		z-index: 2;
		border: 2px solid white;
	}
	.minitext{
		position: absolute;
		left:40px;
		background-color: hsl(25, 100%, 50%);
		top:10px;
		width:65px;
		border:0px;
	}
	.minibox:hover{
		border: 2px solid hsl(50, 100%, 50%);
	}
	.minitext .minibox:hover{
		font-size:20px; 
	}
	.minibox:nth-child(2),.minitext:nth-child(15){
		left:131px;
	}
	.minibox:nth-child(3),.minitext:nth-child(16){
		left:222px;
	}
	.minibox:nth-child(4),.minitext:nth-child(17){
		left:313px;
	}
	.minibox:nth-child(5),.minitext:nth-child(18){
		left:404px;
	}
	.minibox:nth-child(6),.minitext:nth-child(19){
		left:495px;
	}
	.minibox:nth-child(7),.minitext:nth-child(20){
		left:586px;
	}
	.minibox:nth-child(8),.minitext:nth-child(21){
		left:677px;
	}
	.minibox:nth-child(9),.minitext:nth-child(22){
		left:768px;
	}
	.minibox:nth-child(10),.minitext:nth-child(23){
		left:859px;
	}
	.minibox:nth-child(11),.minitext:nth-child(24){
		left:950px;
	}
	.minibox:nth-child(12),.minitext:nth-child(25){
		left:1041px;
	}
	.minibox:nth-child(13),.minitext:nth-child(26){
		left:1130px;
	}
	.t4{
		height: 900px;
	}
	.c4-box{
		top:150px;
		height: 700px;
	}
	.cx-subbox{
		position: absolute;
		top:100px;
		left:720px;
		background-color: red;
		width: 420px;
		height: 300px;
	}
	.cx-subboxa{
		position: absolute;
		width:1090px;
		height:200px;
		left:50px;
		top:440px;
		background-color: red;
	}
	.event-box{
		top:150px;
		height:700px;
	}
	/* Date of Event(s) */
	.date {
		margin: 30px;
		position: absolute;
	}
	/* Line Under Date */
	.line {
		margin: 90px 40px 0px 40px;
	}
	/* จัดกลุ่มเหตุการณ์ให้อยู่ตรงกลาง */
	.event {
		top:100px;
		left:50px;
		position: absolute;
		width: 650px;
		height: 300px;
		background: blue;
	}

	.c6-subbox{
		position: absolute;
		width: 200px;
		height: 300px;
		background-color: grey;
		left: 200px;
	}
	.c6-subbox:nth-child(1){
		top:100px;
		left:780px;
		width:300px;
	}
	.c6-subbox:nth-child(2){
		top:100px;
		left:100px;
		width:650px;
		height: 80px;
	}
	.c6-subbox:nth-child(3){
		top:210px;
		left:100px;
		width:650px;
		height:190px;
	}
	.c7-subbox{
		position: absolute;
		background-color: grey;

	}
	.c7-subbox:nth-child(1){
		top:210px;
		left:270px;
		width:650px;
		height:190px;
	}
	.orange{
		position:absolute;
		border: 5px solid white;
		width:1190px;
		top:58px;
	}
	.minitext{
		font-size:0px;
	}
	.minibox:nth-child(1):hover ~ .minitext:nth-child(14){
		font-size:15px;
	}
	.minibox:nth-child(2):hover ~ .minitext:nth-child(15){
		font-size:15px;
	}
	.minibox:nth-child(3):hover ~ .minitext:nth-child(16){
		font-size:15px;
	}
	.minibox:nth-child(4):hover ~ .minitext:nth-child(17){
		font-size:15px;
	}
	.minibox:nth-child(5):hover ~ .minitext:nth-child(18){
		font-size:15px;
	}
	.minibox:nth-child(6):hover ~ .minitext:nth-child(19){
		font-size:15px;
	}
	.minibox:nth-child(7):hover ~ .minitext:nth-child(20){
		font-size:15px;
	}
	.minibox:nth-child(8):hover ~ .minitext:nth-child(21){
		font-size:15px;
	}
	.minibox:nth-child(9):hover ~ .minitext:nth-child(22){
		font-size:15px;
	}
	.minibox:nth-child(10):hover ~ .minitext:nth-child(23){
		font-size:15px;
	}
	.minibox:nth-child(11):hover ~ .minitext:nth-child(24){
		font-size:15px;
	}
	.minibox:nth-child(12):hover ~ .minitext:nth-child(25){
		font-size:15px;
	}
	.minibox:nth-child(13):hover ~ .minitext:nth-child(26){
		font-size:15px;
	}
	.minitext{
		top:80px;
	}